body {
    font-family: 'Open Sans', sans-serif;
}

.ui-li .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li {
    padding-top:5px;
    padding-bottom:5px;
}

.loader {
    border: 8px solid #34495e;
    border-right-color: #fff;
    border-left-color: #fff;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    animation: spin 500ms ease infinite;
    position: absolute;
    left: 43%;
    top: 43%;
    -webkit-transform: translate(-43, -43%);
    transform: translate(-43%, -43%);
}

@keyframes spin {
    0% { transform: rotate(2deg);
        -webkit-filter: blur(0px);  }
    50% { -webkit-filter: blur(1px);}
    100% { transform: rotate(360deg);
        -webkit-filter: blur(0px);}
}